h1 {
    color: black;
    /* text-align: center; */
    /* display: flex; */
    /* border: solid 1px black; */
}
html {
    background-color: rgb(192, 229, 255);
}
.tidol {
    /* margin: 0;
    padding: 0; */
    display: grid;
    justify-items: center;
}
.submitform {
    display: grid;
    justify-items: center;
}
button {
    min-width: 200px;
    min-height: 100px;
}
.submitboxes {
    display: flex;
    flex-direction: column;
}
.type.file {
    display: flex;
    align-content: flex-start;
}
